<h1 class="text-center py-5">Votre profil</h1>
<!-- <div class="container justify-content-center">-->
<div class="justify-content-center">
  <div class="text-center col-8">
    <div class="mb-5">
      <h3><a class="btngeneral" [routerLink]="['/gerer-mon-compte']">Gérer son compte</a></h3>
    </div>

    <div class="mb-5">
      <h3><a class="btngeneral" [routerLink]="['/gerer-mes-garages']">Gérer mes garages</a></h3>
    </div>

    <div class="mb-5">
      <a href="#" role="button">
        <h3 class="btngeneral">Gérer mes annonces par garages</h3>
      </a>
    </div>

    <div class="mb-5">
      <a href="#" role="button">
        <h3 class="btngeneral">Se déconnecter</h3>
      </a>
    </div>
  </div>
</div>
<!--</div> -->
