<h1 class="text-center py-5">Votre profil</h1>
<div class="container">
  <div class="justify-content-center">
    <div class="text-center col-4">
      <div class="mb-5">
        <a href="compte.html" role="button">
          <h3 class="btngeneral">Gérer son compte</h3>
        </a>
      </div>



      <div class="mb-5">
        <a href="gestionGarage.html" role="button">
          <h3 class="btngeneral">Gérer mes garages</h3>
        </a>
      </div>

      <div class="mb-5">
        <a href="#" role="button">
          <h3 class="btngeneral">Gérer mes annonces par garages</h3>
        </a>
      </div>

      <div class="mb-5">
        <a href="#" role="button">
          <h3 class="btngeneral">Se déconnecter</h3>
        </a>
      </div>
    </div>
  </div>
</div>
