<h1 class="text-center py-5">Gérer votre compte</h1>


<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-9">
      <div class="form-group col-sm-6 d-flex py-2 b">
        <label for="name" class="h4 col-4 text-end">Nom*</label>
        <input type="text" class="formulaire form-control" id="name" placeholder="DUPOND" required>
      </div>

      <div class="form-group col-sm-6 d-flex py-2">
        <label for="name" class="h4 col-4 text-end">Prénom*</label>
        <input type="text" class="formulaire form-control" id="name" placeholder="Martin" required>
      </div>

      <div class="form-group col-sm-6 d-flex py-2">
        <label for="email" class="h4 col-4 text-end">Email*</label>
        <input type="email" class="formulaire form-control" id="email" placeholder="martin-dupond@live.fr" required>
      </div>

      <div class="form-group col-sm-6 d-flex py-2">
        <label for="email" class="h4 col-4 text-end">N°tel*</label>
        <input type="email" class="formulaire form-control" id="email" placeholder="06.12.34.56.78" required>
      </div>

      <div class="form-group col-sm-6 d-flex py-2">
        <label for="email" class="h4 col-4 text-end">Siret*</label>
        <input type="email" class="formulaire form-control" id="email" placeholder="123 456 789 O1234" required>
      </div>
      <div class="py-5text-center">
        <button type="submit" id="form-submit" class="btngeneral pr-5">Enregister</button>
        <button type="submit" id="form-submit" class="btngeneral pr-5">Modifier</button>
        <!-- <div id="msgSubmit" class="h3 text-center hidden">Message bien envoyer!</div> -->
      </div>
    </div>
  </div>
</div>
