<h1 class="text-center py-5">Mention légale</h1>
<div class="container">
  <p>Mentions légales:

    Le site www.centre-Auto-CCAS.com/fr/ est édité, hébergé et exploité par la société Centre Auto'CCAS SAS, société
    immatriculée au registre du commerce de Nanterre sous le numéro 555 555 555, dont le siège social est situé 21
    boulevard
    MonfuaxAddress 92330 Issy-les-Fauxlineaux, dont le montant du capital social est de 1.000 euros et dont le numéro de
    TVA
    intracommunautaire est FR55555555555.

    Directeur de la publication : Alexandru Lodevie
    Contact
    Téléphone : 05 55 55 55 55 (gratuit)
    E-mail : contactLodevie-fr@centre-Auto-CCAS.com
    Site internet : centre-Auto-CCAS.com/fr/
  </p>
