<h1 class="text-center py-5">Vous avez sélectionné l'annonce Audi A3 Reference : AudiA3210</h1>
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 40rem">
      <a href="#"><img src="../../assets/image/audiA1.jpg" class="card-img-top mt-5" alt="audiA1"></a>
      <div class="card-body">

        <h5 class="card-title text-center">{{voiture.titre}}</h5>
        <p class="card-text">{{voiture.descriptionLongue}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Année de mise en circulation : {{voiture.anneeMiseCiruclation}}</li>
        <li class="list-group-item">Kilométrage : {{voiture.kilometrage}}</li>
        <li class="list-group-item">Prix : {{voiture.prix}} €</li>
        <li class="list-group-item">Marque : {{voiture.marque}}</li>
        <li class="list-group-item">Modèle : {{voiture.modele}}</li>
        <li class="list-group-item">Type de carburant : {{voiture.typeCarburant}}</li>
        <li class="list-group-item">Reference : {{voiture.reference}}</li>
      </ul>
      <div class="card-body pb-5">
        <a href="#" class="card-link text-decoration-none">Acheter</a>
        <a href="#" class="card-link text-decoration-none">Plus de renseignements</a>
      </div>
    </div>

  </div>

</div>
