<!--début de header-->
<header>
  <nav>
    <a href="#"><img src="../assets/image/logotransparentbusiness.png" alt="logo"></a>
    <ul class="d-flex pr-2">
      <li class="pr-5"><a [routerLink]="['/home']">Accueil</a></li>
      <li class="pr-5"><a [routerLink]="['/profil']">Profil</a></li>
      <!-- <li class="pr-5"><a [routerLink]="['/annonce-detaillees']">Annonce détaillées</a></li> -->
      <li class="btngeneral"><a [routerLink]="['/connexion']">Se connecter</a></li>
    </ul>
  </nav>
</header>
<!--fin de header-->
<!--début router liste-annonce-->
<router-outlet></router-outlet>
<!--fin router liste-annonce-->


<!--début de footer-->
<footer>
  <div class="row text-white bg-secondary pt-5">
    <div class=" col-4 text-center">
      <a class="text-decoration-none text-white" routerLink="/cgu">CGU</a>
    </div>

    <div class="col-4">
      <a class="text-decoration-none text-white" routerLink="/politique-de-confidentialite">Politique de
        confidentialité</a>
    </div>

    <div class="col-4">
      <a class="text-decoration-none text-white" routerLink="/mentions-legales">Mentions légales</a>
    </div>
  </div>


  <div class="col-12 text-center pt-5 pb-5 text-white bg-secondary">
    <p>Business case coder by Delphine Développeuse Web et Web mobile</p>
  </div>
</footer>
<!--fin de footer-->
