<!-- <h1>Vous êtes dans l'annonce </h1> -->
<!--mettre la variable lié au clique de l'annonce-->

<div class="container-fluid row  d-flex justify-content-center">

  <div class="container">
    <div class="row">
      <div class="card" style="width: 20rem">
        <a href="#"><img src="../../assets/image/audiA1.jpg" class="card-img-top mt-5" alt="audiA1"></a>

        <div class="card-body">
          <h5 class="card-title text-center">{{voiture.titre}}</h5>
          <p class="card-text">{{voiture.descriptionLongue}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Année de mise en circulation : {{voiture.anneeMiseCiruclation}}</li>
          <li class="list-group-item">Kilométrage : {{voiture.kilometrage}}</li>
          <li class="list-group-item">Prix : {{voiture.prix}} €</li>
          <li class="list-group-item">Marque : {{voiture.marque}}</li>
          <li class="list-group-item">Modèle : {{voiture.modele}}</li>
          <li class="list-group-item">Type de carburant : {{voiture.typeCarburant}}</li>
          <li class="list-group-item">Reference : {{voiture.reference}}</li>
        </ul>
        <div class="card-body pb-5">
          <button [routerLink]="['/formulaire-contact']">Contactez-moi</button>
          <!--
          <a href="#" class="card-link text-decoration-none">Acheter</a>
          <a href="#" class="card-link text-decoration-none">Plus de renseignements</a> -->
        </div>
      </div>
      <div class="d-block">
        <img src="../../assets/image/tableau de bord.png" class="card-img-top mt-5 flex-wrap w-50" style="width: 10rem"
          alt="tableau de bord">
        <img src="../../assets/image/arriere de voiture.png" class="card-img-top mt-5 w-50" style="width: 10rem"
          alt="arrierre de banquette">
      </div>
    </div>

  </div>
</div>
