/* .container {
  width: 500px;
} */
.lesannonces article {
  width: 50px;
  height: 50px;
}
.lesannonces article img {
  align-items: center;
  width: 40px;
  height: 20px;
}

.my-flex-row {
  display: flex;
}
/*fin les articles de voitures */
